@import "~src/assets/styles/modules/theme";
@import "~src/assets/styles/modules/typography";
@import "~src/assets/styles/modules/variables";

$logo__size: 24px;

i {
    //background-color: $navigation__primary-text__color;
    border-radius: $roundness;
    //color: $navigation__background-color;
    display: inline-block;
    font-family: #{$display-font-family};
    font-size: .95em;
    font-style: normal;
    font-weight: 700;
    height: $logo__size;
    line-height: $logo__size;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    width: $logo__size;
}
