<div class="sidenav-content" fxLayout="column">
    <mat-toolbar class="header">
        <mat-toolbar-row>
            <!--<img class="profile-pic" alt="profile image" [src]="profileImageUrl" />-->
            <!--<mat-icon class="logo" svgIcon="angular"></mat-icon>-->
            <app-dynamic-logo-icon [brandLetter]="brandLetter"></app-dynamic-logo-icon>
            <label fxFlex="1 1 auto">{{appName}}</label>
            <!--<div class="details" fxFlex="1 1 auto">-->
            <!--<h4>{{name}}</h4>-->
            <!--<h5>{{description}}</h5>-->
            <!--</div>-->
            <div class="actions">
                <button mat-icon-button matTooltip="{{navLockedOpen ? 'Collapse menu' : 'Lock menu open'}}" (click)="toggleMenuLock()" *ngIf="showNavLockAction | async">
                    <mat-icon>{{navLockedOpen ? 'chevron_left' : 'last_page'}}</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="links" fxLayout="column" fxFlex="1 1 auto" cdkDropList (cdkDropListDropped)="drop($event)">
        <!--<h4 class="empty-message mat-caption" *ngIf="!visibleMenuLinks.length">No menu items found.</h4>-->
        <app-empty-message icon="menu" *ngIf="!visibleMenuLinks.length">No menu items found.</app-empty-message>
        <ng-container *ngFor="let link of visibleMenuLinks">
            <button (click)="menuitemClick(link)"
                    *ngIf="!link.children"
                    mat-button
                    fxFlex="0 0 auto"
                    role="menuitem"
                    routerLinkActive="active"
                    #rla="routerLinkActive"
                    routerLink="{{link.path}}"
                    cdkDrag>
                <span fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>{{link.icon}}</mat-icon>
                    <span fxFlex="1 1 auto">{{link.title}}</span>
                    <mat-icon cdkDragHandle matTooltip="Click and drag to reorder" svgIcon="drag"></mat-icon>
                </span>
            </button>
            <div class="link-group" fxLayout="column" fxFlex="0 0 auto" *ngIf="link.children" cdkDrag>
                <button (click)="toggleChildLinksVisibility(link)"
                        mat-button
                        fxFlex="0 0 auto"
                        role="menuitem">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>{{link.icon}}</mat-icon>
                        <span fxFlex="1 1 auto">{{link.title}}</span>
                        <mat-icon cdkDragHandle matTooltip="Click and drag to reorder" svgIcon="drag"></mat-icon>
                    </span>
                </button>
                <div class="link-children" fxLayout="column" fxFlex="0 0 auto" *ngIf="link.expanded">
                    <button *ngFor="let childLink of link.children"
                            mat-button
                            fxFlex="0 0 auto"
                            role="menuitem"
                            routerLinkActive="active"
                            #rla="routerLinkActive"
                            routerLink="{{childLink.path}}">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>{{childLink.icon}}</mat-icon>
                            <span fxFlex="1 1 auto">{{childLink.title}}</span>
                        </span>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <mat-toolbar class="footer">
        <mat-toolbar-row>
            <div class="outline search mat-body-1" fxLayout="row" fxLayoutAlign="start center" [class.focused]="searchFocused">
                <mat-icon>search</mat-icon>
                <input #navigationItemSearchInput fxFlex="1 1 auto" type="text" placeholder="Search for menu item"
                       (ngModelChange)="updateVisibleMenuItems($event)"
                       [(ngModel)]="menuItemSearchQuery" (focus)="searchFocused = true" (blur)="searchFocused = false" />
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>