<div class="sidenav-content" fxLayout="column">
    <mat-toolbar class="header">
        <mat-toolbar-row>
            <!--<img class="profile-pic" alt="profile image" [src]="profileImageUrl" />-->
            <!--<mat-icon class="logo" svgIcon="angular"></mat-icon>-->
            <app-dynamic-logo-icon [brandLetter]="brandLetter"></app-dynamic-logo-icon>
            <label fxFlex="1 1 auto">{{appName}}</label>
            <!--<div class="details" fxFlex="1 1 auto">-->
            <!--<h4>{{name}}</h4>-->
            <!--<h5>{{description}}</h5>-->
            <!--</div>-->
            <div class="actions">
                <button mat-icon-button matTooltip="{{navLockedOpen ? 'Collapse menu' : 'Lock menu open'}}" (click)="toggleMenuLock()" *ngIf="showNavLockAction | async">
                    <mat-icon>{{navLockedOpen ? 'chevron_left' : 'last_page'}}</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="links" fxLayout="column" fxFlex="1 1 auto" cdkDropList (cdkDropListDropped)="drop($event)">
        <app-empty-message icon="menu" *ngIf="!visibleMenuLinks.length && menuLinks.length">No menu items found.</app-empty-message>
        <ng-container *ngFor="let link of visibleMenuLinks">
            <section fxLayout="column" fxFlex="0 0 auto" [class.expanded]="link.expanded" cdkDrag>
                <button *ngIf="link.displayChildrenAs === 'ACCORDION' && link.children?.length ; else linkButton"
                        (click)="toggleChildLinksVisibility(link)"
                        mat-button
                        fxFlex="1 0 auto"
                        role="menuitem">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>{{link.icon}}</mat-icon>
                            <span>{{link.title}}</span>
                            <mat-icon class="dropdown-arrow">arrow_drop_down</mat-icon>
                            <span fxFlex="1 1 auto"></span>
                            <mat-icon cdkDragHandle matTooltip="Click and drag to reorder" svgIcon="drag" [hidden]="menuItemSearchQuery"></mat-icon>
                        </span>
                </button>
                <ng-template #linkButton>
                    <button mat-button
                            (click)="clearMenuSearch()"
                            fxFlex="1 0 auto"
                            role="menuitem"
                            routerLinkActive="active"
                            #rla="routerLinkActive"
                            [routerLink]="link.path">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>{{link.icon}}</mat-icon>
                        <span fxFlex="1 1 auto" [innerHTML]="link.title | highlightText: menuItemSearchQuery"></span>
                        <mat-icon cdkDragHandle matTooltip="Click and drag to reorder" svgIcon="drag" [hidden]="menuItemSearchQuery"></mat-icon>
                    </span>
                    </button>
                </ng-template>
                <ng-container *ngIf="link.children?.length && link.displayChildrenAs === 'ACCORDION'">
                    <section fxLayout="column" fxFlex="0 0 auto" [@accordion]="link.expanded ? 'expand' : 'collapse'">
                        <button *ngFor="let childLink of link.children"
                                mat-button
                                fxFlex="0 0 auto"
                                role="menuitem"
                                routerLinkActive="active"
                                #rla="routerLinkActive"
                                [routerLink]="childLink.path">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>{{childLink.icon}}</mat-icon>
                            <span fxFlex="1 1 auto">{{childLink.title}}</span>
                        </span>
                        </button>
                    </section>
                </ng-container>
            </section>
        </ng-container>
    </div>
    <mat-toolbar class="footer" [hidden]="!menuLinks.length || (_sideNavMode === 'side' && !navHovered && !navLockedOpen)">
        <mat-toolbar-row>
            <div class="outline search mat-body-1" fxLayout="row" fxLayoutAlign="start center" [class.focused]="searchFocused">
                <mat-icon class="signifier">search</mat-icon>
                <input #navigationItemSearchInput fxFlex="1 1 auto" type="text" placeholder="Search for menu item"
                       (ngModelChange)="updateVisibleMenuItems($event)"
                       [(ngModel)]="menuItemSearchQuery" (focus)="searchFocused = true" (blur)="searchFocused = false" />
                <mat-icon (click)="clearMenuSearch()" *ngIf="menuItemSearchQuery">close</mat-icon>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
