@import "~@angular/material/theming";
@import "~src/assets/styles/modules/mixins";
@import "~src/assets/styles/modules/theme";
@import "~src/assets/styles/modules/typography";
@import "~src/assets/styles/modules/variables";

.sidenav-content {
    height: 100%;
    overflow: hidden;
}

.mat-sidenav-container {

    &.#{$navigation__hovered__class},
    &.#{$navigation__locked__class},
    &:not(.#{$navigation__visible__class}) {

        :host {

            button {

                &[role="menuitem"] {
                    max-width: unset;
                    min-width: unset;

                    .mat-icon {

                        + span,
                        &.dropdown-arrow {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.search {
    border-radius: $roundness;
    height: 40px;
    overflow: hidden;
    position: relative;
    transition: $swift-ease-out;
    width: 100%;

    .mat-icon {

        &:first-child {
            @include center-vertically-absolute();
            margin: 0 $layout-unit__base;
        }

        &:last-child {
            cursor: pointer;
            margin: 0 $layout-unit__base 0 0;
        }
    }

    input {
        @include reset-input-styles();
        color: inherit;
        padding: 0 $layout-unit__base 0 56px;
        z-index: 1;
    }
}

.mat-toolbar {
    background-color: unset;

    .mat-toolbar-row {

        .actions {
            margin: 0 (-$layout-unit__base) 0 $layout-unit__sm;
        }

        > {

            label,
            .details {
                margin: 0 0 0 $layout-unit__lg;
            }

            label {
                @include mat-typography-level-to-styles($header-typography, title);
            }

            .details {

                > {
                    $config: mat-typography-config();

                    h4 {
                        @include mat-typography-level-to-styles($config, body-2);
                    }

                    h5 {
                        @include mat-typography-level-to-styles($config, caption);
                    }

                    h4, h5 {
                        line-height: 20px;
                    }
                }
            }

            button {

                &:first-child {
                    margin-right: $layout-unit__base;
                }
            }
        }
    }

    &.footer {

        .mat-toolbar-row {
            padding: 0 (($navigation__collapsed__width - $navigation-item__collapsed__width) / 2);
        }
    }
}

.links {
    overflow-x: hidden;
    overflow-y: auto;
    padding: $layout-unit__base 0;

    > section {
        border-radius: $roundness;
        display: flex;
        margin: 0 (($navigation__collapsed__width - $navigation-item__collapsed__width) / 2) $layout-unit__base;

        > section {
            //margin: $layout-unit__base 0 0;

            > button[role="menuitem"] {

                &:not(:last-child) {
                    margin: 0 0 $layout-unit__base;
                }

                &:first-child {
                    margin-top: $layout-unit__base;
                }
            }
        }
    }

    &.cdk-drop-list-dragging section:not(.cdk-drag-placeholder) {
        transition: $swift-ease-out;
    }
}

section {

    &.expanded {

        > button[role="menuitem"] {

            .mat-icon {

                &.dropdown-arrow {
                    transform: rotateX(-180deg);
                }
            }
        }
    }

    > section {

        > button[role="menuitem"] {
            font-weight: 400;
        }
    }
}

button[role="menuitem"] .mat-icon {

    + span,
    &.dropdown-arrow {
        opacity: 0;
        //transition: $swift-ease-out;
        visibility: hidden;
    }
}

button {

    &[role="menuitem"] {
        height: $navigation-item__height;
        min-width: 0;
        padding: 0 $layout-unit__base 0 $layout-unit__base;
        text-align: left;

        &:not(.cdk-drag-preview) {
            max-width: $navigation-item__collapsed__width;
        }

        .mat-icon {
            position: relative;

            + span {
                margin: 0 0 0 $layout-unit__lg;
            }

            &.cdk-drag-handle {
                display: none;
                overflow: hidden;
                transition: $swift-ease-out;
            }

            &:not(:first-child) {
                margin: 0 0 0 $layout-unit__xs;
            }

            &:first-child:not(.cdk-drag-handle)::before {
                @include mat-elevation(4);
                border-radius: 50%;
                content: '';
                height: 8px;
                left: 0;
                position: absolute;
                top: 0;
                width: 8px;
            }
        }

        &:hover {

            .mat-icon {

                &.cdk-drag-handle {
                    display: unset;
                }
            }
        }
    }
}

.cdk-drag-placeholder,
.drag-placeholder {

    button[role="menuitem"] {
        opacity: .4;
    }
}

.cdk-drag-preview {
    @include mat-elevation(8);
    border-radius: $roundness;
    cursor: move;
    display: flex;
    height: auto !important;

    button[role="menuitem"] {
        max-width: unset;

        .mat-icon {

            + span,
            &.dropdown-arrow {
                opacity: 1;
                visibility: visible;
            }
        }

        + section {

            > button[role="menuitem"] {
                margin: $layout-unit__base 0 0;
            }
        }
    }

    .cdk-drag-handle {
        display: unset !important;
    }
}

.cdk-drag-animating {
    transition: $swift-ease-out;
}

.cdk-drag-handle {
    cursor: move;
}