@import "~src/assets/styles/modules/variables";

.header-wrapper {
    position: relative;
}

h3 {
    word-break: break-word;
}

.content-editable {
    margin-left: -$layout-unit__base;
    margin-right: -$layout-unit__base;
    padding: $layout-unit__xs $layout-unit__base;
}

.mat-button-group {
    bottom: -48px;
    position: absolute;
    right: -$layout-unit__base;
    z-index: 1;
}
