<div class="header-wrapper">
    <h3 tabindex="0"
        class="content-editable mat-title display-font"
        [attr.contenteditable]="editActive"
        [class.editing]="editActive"
        [textContent]="editedTitleValue"
        (input)="editedTitleValue = $event.target.textContent"
        (click)="editMode()"
        (keydown)="keydown($event)"
        #editableHeader></h3>
    <div class="mat-button-group mat-elevation-z5" *ngIf="editActive"><!-- TODO: Figure out focus issue. Can't click buttons -->
        <button color="accent" (click)="cancel()" mat-icon-button mat-raised-button mat-stroked-button>
            <mat-icon>close</mat-icon>
        </button>
        <button color="accent" (click)="save()" mat-icon-button mat-raised-button mat-stroked-button>
            <mat-icon>check</mat-icon>
        </button>
    </div>
</div>