@mixin button-theme-styles($_theme-primary-color, $_theme-accent-color, $_theme-background, $_theme-foreground) {

    .mega-button {

        .mat-icon {
            background: -webkit-linear-gradient(45deg, $_theme-primary-color, $_theme-accent-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .mat-button-group {
        //background-color: map-get($_theme-background, card);
        border-radius: $roundness;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;

        > button {
            border-radius: 0;
            border-width: 0 1px 0 0;
            box-shadow: none !important;

            &:last-child {
                border-width: 0 0;
            }
        }
    }
}