@import "~@angular/material/theming";

@mixin input-theme-styles($_theme-primary-color, $_theme-accent-color, $_theme-background, $_theme-foreground) {

    .content-editable {
        border-radius: $roundness;
        display: block;
        outline: none;
        transition: $swift-ease-out;
        transition-property: background-color, box-shadow;

        &:hover,
        &:focus {
            
            &:not(.editing) {
                background-color: map-get($_theme-foreground, divider);
            }
        }

        &.editing {
            box-shadow: inset 0 0 0 2px $_theme-accent-color;
        }
    }
}
