@import "./theme";
@import "./variables";

@mixin center-absolute() {
    bottom: 0;
    left: 0;
    margin: auto !important;
    position: absolute;
    right: 0;
    top: 0;
}

@mixin center-vertically-absolute() {
    bottom: 0;
    margin-bottom: auto !important;
    margin-top: auto !important;
    position: absolute;
    top: 0;
}

@mixin reset-button-styles() {
    background-color: unset;
    border: none;
    margin: 0 0;
    outline: none;
    padding: 0 0;
}

@mixin reset-input-styles() {
    background-color: unset;
    border: none;
    outline: none;
}

