@import "~@angular/material/theming";
@import "~src/assets/styles/modules/mixins";
@import "~src/assets/styles/modules/typography";
@import "~src/assets/styles/modules/variables";

@mixin quill-editor-theme-styles($_theme-primary-color, $_theme-accent-color, $_theme-background, $_theme-foreground) {

    quill-editor {
        box-shadow: inset 0 0 0 1px map-get($_theme-foreground, disabled);
        transition: $swift-ease-out;
        transition-property: background-color;

        &.nondisruptive:not(.focused) {
            box-shadow: none;

            &:hover {
                background-color: map-get($_theme-background, hover);
            }
        }

        &.form-field {

            &.filled {
                background-color: map-get($_theme-background, hover);
            }
        }

        .ql-toolbar,
        .ql-formats {
            border-color: map-get($_theme-foreground, divider);
        }

        button {

            svg {

                .ql-fill {
                    fill: currentColor;
                }

                .ql-stroke {
                    stroke: currentColor;
                }
            }

            &.ql-code-block {

                &::before {
                    background-color: map-get($_theme-foreground, text);
                }

                svg {

                    .ql-fill {
                        fill: map-get($_theme-background, card) !important;
                    }

                    .ql-stroke {
                        stroke: map-get($_theme-background, card) !important;
                    }
                }
            }

            &:hover,
            &:focus,
            &.ql-active {
                background-color: map-get($_theme-background, hover);

                &::before {
                    background-color: $_theme-accent-color;
                }

                svg {

                    .ql-fill {
                        fill: $_theme-accent-color;
                    }

                    .ql-stroke {
                        stroke: $_theme-accent-color;
                    }
                }
            }
        }

        .ql-container {

            .ql-editor {

                &.ql-blank::before {
                    color: map-get($_theme-foreground, disabled-text);
                }

                pre {
                    //background-color: darken(map-get($_theme-background, card), 12%);
                    //color: inherit;

                    .hljs-tag {
                        //color: inherit;
                    }
                }

                code {
                    background-color: map-get($_theme-foreground, divider);
                    color: $_theme-primary-color;
                }
            }
        }
    }
}
