@import "~src/assets/styles/modules/variables";

@mixin sidenav-theme-styles($_theme-primary-color, $_theme-accent-color, $_theme-background, $_theme-foreground) {

    .cdk-drag-preview {
        background-color: map-get($_theme-background, card);
        color: map-get($_theme-foreground, text);
    }

    section {

        &.expanded {
            box-shadow: inset 0 0 0 1px map-get($_theme-foreground, divider);
            color: map-get($_theme-foreground, text);
        }
    }

    .mat-sidenav {
        //color: map-get($_theme-foreground, secondary-text);
    }
}
