@import "~src/assets/styles/modules/typography";
@import "~src/assets/styles/modules/variables";

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-raised-button {
    border-radius: $roundness;

    &.mega-button {
        border-radius: 100px;
        font-family: #{$display-font-family};
        font-size: 16px;
        font-weight: 500;
        height: 56px;
        padding: 0 $layout-unit__md 0 12px;
        width: unset;

        .mat-icon {
            @extend .mat-36;
            margin: 0 $layout-unit__base 0 (-$layout-unit__xs);
        }

        .mat-button-wrapper {
            align-items: center;
            display: flex;
            padding: 0 0;
        }
    }
}

.mat-stroked-button,
.mat-raised-button,
.mat-button {

    .mat-button-wrapper {

        .mat-icon {

            &.end,
            &.start {
                @extend .mat-18;
            }

            &.end {
                margin: 0 (-$layout-unit__xs) 0 $layout-unit__base;
            }

            &.start {
                margin: 0 $layout-unit__base 0 (-$layout-unit__xs);
            }
        }
    }
}
