@import '~highlight.js/styles/monokai-sublime.css';
@import "~quill/dist/quill.snow.css";
@import "~src/assets/styles/modules/mixins";
@import "~src/assets/styles/modules/typography";
@import "~src/assets/styles/modules/variables";

quill-editor {
    border-radius: $roundness;
    display: block;

    &.form-field {
        margin-bottom: 1.34375em;
    }

    .ql-toolbar {
        border-width: 0 0 1px;
        padding: $layout-unit__base 0 $layout-unit__xs 0;

        .ql-formats {
            border-style: solid;
            border-width: 0 1px 0 0;
            margin: 0 0 $layout-unit__xs;
            padding: 0 $layout-unit__xs 0 $layout-unit__base;

            &:last-of-type {
                border: none;
            }
        }

        button {
            align-items: center;
            border-radius: $roundness;
            color: inherit;
            display: flex;
            height: 24px;
            justify-content: center;
            margin: 0 $layout-unit__xs 0 0;
            outline: none;
            padding: 0 0;
            width: 24px;

            svg {
                height: 18px;
                width: 18px;
            }

            &.ql-code-block {
                position: relative;

                &::before {
                    @include center-absolute();
                    border-radius: $roundness;
                    content: '';
                    height: 14px;
                    width: 18px;
                }

                svg {
                    z-index: 1;
                }
            }
        }
    }

    .ql-container {
        @include mat-typography-level-to-styles($base-typography, body-1);
        border: none;

        .ql-editor {
            padding: 12px;

            &.ql-blank::before {
                @include mat-typography-level-to-styles($base-typography, body-1);
                left: 12px;
                right: 12px;
            }

            ol, ul {
                padding-bottom: $layout-unit__base;
                padding-top: $layout-unit__base;
            }

            pre {
                margin-bottom: $layout-unit__base;
                margin-top: $layout-unit__base;
                padding: $layout-unit__base;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.nondisruptive {

        &:not(.focused) {

            .ql-toolbar {
                display: none;
            }

            .ql-container {

                .ql-editor {
                    padding: $layout-unit__base;

                    &.ql-blank::before {
                        left: $layout-unit__base;
                        right: $layout-unit__base;
                    }
                }
            }
        }
    }
}
