@import "../modules/color-swatch";
@import "../modules/empty-message";
@import "../modules/icon";
@import "../modules/link";
@import "../modules/logo";
@import "../modules/sidenav";
@import "../modules/variables";
@import "../modules/theme";
@import "../modules/border";

@include mat-core();

@mixin theme-dependent-styles($_theme-name, $_theme) {
    $_theme-background: map-get($_theme, background);
    $_theme-foreground: map-get($_theme, foreground);

    $_theme-primary-color: mat-color(map-get($_theme, primary));
    $_theme-accent-color: mat-color(map-get($_theme, accent));

    @include border-theme-styles($_theme-primary-color, $_theme-accent-color, $_theme-background, $_theme-foreground);
    @include empty-message-theme-styles($_theme-primary-color, $_theme-accent-color, $_theme-background, $_theme-foreground);
    @include icon-theme-styles($_theme-primary-color, $_theme-accent-color, $_theme-background, $_theme-foreground);
    @include link-theme-styles($_theme-primary-color, $_theme-accent-color, $_theme-background, $_theme-foreground);
    @include logo-theme-styles($_theme-primary-color, $_theme-accent-color, $_theme-background, $_theme-foreground);
    @include sidenav-theme-styles($_theme-primary-color, $_theme-accent-color, $_theme-background, $_theme-foreground);
}

@each $_theme in $app-themes {
    $_theme-name: nth($_theme, 1);
    $_theme-config: nth($_theme, 2);
    $_theme: nth($_theme-config, 1);

    @at-root #{if($_theme-name != "", selector-nest(&, "." + $_theme-name), &)} {
        @include angular-material-theme($_theme);
        @include theme-dependent-styles($_theme-name, $_theme);
    }

    @include color-swatch-theme-styles(
            $_theme-name,
            mat-color(map-get($_theme, primary)),
            mat-color(map-get($_theme, accent)),
            map-get($_theme, background)
    );

    $_theme: nth($_theme-config, 2);

    @if ($_theme) {

        #{"." + $_theme-name + if($_theme-name != "", "-", "") + $dark-theme__postfix} {
            @include angular-material-theme($_theme);
            @include theme-dependent-styles($_theme-name, $_theme);
        }

        [class*="#{$dark-theme__postfix}"] {
            @include color-swatch-theme-styles(
                    $_theme-name,
                    mat-color(map-get($_theme, primary)),
                    mat-color(map-get($_theme, accent)),
                    map-get($_theme, background)
            );
        }
    }
}
