<ng-container [formGroup]="newTaskForm">
    <mat-form-field appearance="fill" fxLayout="row" fxFlex="0 0 50%">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" required>
            <mat-select-trigger>{{newTaskForm.controls.type.value?.label}}</mat-select-trigger>
            <mat-option *ngFor="let taskType of taskTypes" [value]="taskType">
                <mat-icon>{{taskType.icon}}</mat-icon>{{taskType.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <textarea matInput formControlName="title" placeholder="Title" cdkAutosizeMinRows="1" cdkTextareaAutosize required></textarea>
    </mat-form-field>
    <!--<mat-form-field appearance="fill">-->
        <!--<mat-label>Description</mat-label>-->
        <!--<textarea matInput formControlName="description" placeholder="Description" cdkAutosizeMinRows="3" cdkTextareaAutosize></textarea>-->
    <!--</mat-form-field>-->
    <quill-editor class="form-field filled"
                  formControlName="description"
                  placeholder="Description"
                  [modules]="quillModules">
        <div quill-editor-toolbar>
            <span class="ql-formats">
                <button class="ql-bold" matTooltip="Bold"></button>
                <button class="ql-italic" matTooltip="Italic"></button>
                <button class="ql-underline" matTooltip="Underline"></button>
                <button class="ql-strike" matTooltip="Strike"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-align" value="" matTooltip="Left align"></button>
                <button class="ql-align" value="center" matTooltip="Center align"></button>
                <button class="ql-align" value="right" matTooltip="Right align"></button>
                <button class="ql-align" value="justify" matTooltip="Justify"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="ordered" matTooltip="Ordered list"></button>
                <button class="ql-list" value="bullet" matTooltip="Bullet list"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-code" matTooltip="Inline code"></button>
                <button class="ql-code-block" matTooltip="Code block"></button>
            </span>
        </div>
    </quill-editor>
    <mat-form-field appearance="fill" fxLayout="row" fxFlex="0 0 50%">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority" required>
            <mat-select-trigger>{{newTaskForm.controls.priority.value?.label}}</mat-select-trigger>
            <mat-option *ngFor="let taskPriority of taskPriorities" [value]="taskPriority">
                <mat-icon *ngIf="taskPriority.icon">{{taskPriority.icon}}</mat-icon>
                <mat-icon *ngIf="taskPriority.svgIcon" [svgIcon]="taskPriority.svgIcon"></mat-icon>
                {{taskPriority.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Due date</mat-label>
        <input matInput formControlName="dueDate" [matDatepicker]="dueDatePicker" placeholder="Due date">
        <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dueDatePicker></mat-datepicker>
    </mat-form-field>
</ng-container>
