@import "~src/assets/styles/modules/variables";

$_empty-message__icon-size: 48px;

:host {
    display: block;
    padding: $layout-unit__lg $layout-unit__sm;
    text-align: center;
}

.mat-icon {
    font-size: $_empty-message__icon-size;
    height: $_empty-message__icon-size;
    min-height: $_empty-message__icon-size;
    min-width: $_empty-message__icon-size;
    opacity: .5;
    width: $_empty-message__icon-size;
}