@import "~src/assets/styles/modules/variables";
@import "~src/assets/styles/modules/typography";

:host {
    min-width: $navigation__expanded__width - $navigation__collapsed__width;
}

.nav-content {
    margin: 0 $layout-unit__md 0 0;
    padding: $layout-unit__md 0;
    position: sticky;
    top: 0;

    .mat-nav-list {
        padding: 0 0;

        .mat-list-item {
            border-radius: 0 $roundness $roundness 0;
            height: $navigation-item__height;
            margin: $layout-unit__base 0 0;
            overflow: hidden;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}