<mat-sidenav-container
        [class.nav-hovered]="navHovered"
        [class.nav-locked-open]="navLockedOpen"
        [class.nav-side]="sideNavMode === 'side'">
    <mat-sidenav
        #mainNav
        [mode]="sideNavMode"
        [opened]="showNavLockAction"
        (mouseenter)="navHovered = true"
        (mouseleave)="navHovered = false">
        <app-side-navigation (sideNavMode)="sideNavMode = $event" (showNavLockAction)="showNavLockAction = $event"></app-side-navigation>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header [mainNav]="mainNav" [showNavLockAction]="showNavLockAction"></app-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
