<mat-sidenav-container
        fxLayout="column"
        [class.nav-hovered]="navHovered"
        [class.nav-locked-open]="navLockedOpen"
        [class.nav-side]="sideNavMode === 'side'">
    <mat-sidenav
        #mainNav
        [mode]="sideNavMode"
        [opened]="showNavLockAction"
        (opened)="sideNavClosed = false"
        (closed)="sideNavClosed = true"
        (mouseenter)="navHovered = true"
        (mouseleave)="navHovered = false">
        <app-side-navigation [mainNav]="mainNav"
                             [navClosed]="sideNavClosed"
                             (sideNavMode)="sideNavMode = $event"
                             (showNavLockAction)="showNavLockAction = $event" [navHovered]="navHovered"></app-side-navigation>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
        <app-header [mainNav]="mainNav" [showNavLockAction]="showNavLockAction"></app-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
