<div fxLayout="row">
    <div class="navigation">
        <mat-nav-list *ngIf="links?.length">
            <a mat-list-item
               *ngFor="let link of links"
               routerLinkActive="active"
               #rla="routerLinkActive"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="link.path">
                <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
                <h4 mat-line><span class="mat-body-2">{{link.title}}</span></h4>
            </a>
        </mat-nav-list>
    </div>
    <div class="content layout-container layout-padding">
        <app-page-title class="align-center"></app-page-title>
        <router-outlet></router-outlet>
    </div>
</div>