@import "~src/assets/styles/modules/variables";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.close-tab {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 0 1px 0 0;
    left: -40px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: $swift-ease-out;
    visibility: hidden;
}

.mat-nav-list.tasks {
    overflow-y: auto;
    padding: $layout-unit__md 0;

    .mat-list-item {
        overflow: hidden;

        &:first-child {
            border-top-left-radius: $roundness;
        }

        &:last-child {
            border-bottom-left-radius: $roundness;
        }

        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 0;
        }

        .priority,
        .due-date {
            margin: 0 0 0 $layout-unit__sm;
        }
    }
}

.mat-sidenav {
    overflow: visible; // need this to see close tab
    width: $navigation__expanded__width;

    &:hover {

        .close-tab {
            opacity: 1;
            visibility: visible;
        }
    }
}