<mat-sidenav-container hasBackdrop="false" fxLayout="row" fxFlex="1 1 100%">
    <mat-sidenav-content fxLayout="column" fxFlex="1 1 auto">
        <mat-nav-list class="tasks" dense @preventInitialChildAnimations>
            <ng-container *ngFor="let task of tasks; last as isLast">
                <a mat-list-item
                   (click)="taskDetailsDrawer.open()"
                   routerLinkActive="active"
                   #rla="routerLinkActive"
                   [replaceUrl]="true"
                   [routerLink]="task._id"
                   @slideInOut>
                    <mat-icon color="accent" mat-list-icon>{{task.type.icon}}</mat-icon>
                    <h2 fxLayoutAlign="start center" mat-line>
                        <span class="title mat-body-1" fxFlex="1 1 auto">{{task.title}}</span>
                        <span class="due-date mat-overline" *ngIf="task.dueDate">{{task.dueDateDisplay}}</span>
                        <mat-icon class="priority mat-18 mat-disabled-text" [matTooltip]="task.priority.label + ' priority'" *ngIf="task.priority.icon">{{task.priority.icon}}</mat-icon>
                        <mat-icon class="priority mat-18 mat-disabled-text" [matTooltip]="task.priority.label + ' priority'" *ngIf="task.priority.svgIcon" [svgIcon]="task.priority.svgIcon"></mat-icon>
                    </h2>
                </a>
                <mat-divider *ngIf="!isLast"></mat-divider>
            </ng-container>
        </mat-nav-list>
        <app-empty-message icon="sentiment_very_satisfied" *ngIf="!tasks.length">
            You've got no tasks.
        </app-empty-message>
    </mat-sidenav-content>
    <mat-sidenav position="end" mode="side"
        [opened]="taskDetailDrawerOpened"
        #taskDetailsDrawer>
        <router-outlet></router-outlet>
    </mat-sidenav>
</mat-sidenav-container>