@import "~@angular/material/theming";
@import "~src/assets/styles/modules/variables";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.close-tab {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    right: 0;
    position: absolute;
    top: 0;
    transform: translateX(100%);
    transition: $swift-ease-out;

    &.show {
        transform: translateX(0);
    }
}

.mat-sidenav-content {
    overflow: hidden;
}

.mat-nav-list.tasks {
    overflow: hidden auto;
    padding: $layout-unit__md 0;

    &.cdk-drop-list-dragging .mat-list-item:not(.cdk-drag-placeholder) {
        transition: $swift-ease-out;
    }
}

.mat-list-item {
    overflow: hidden;

    &:first-child {
        border-top-left-radius: $roundness;
    }

    &:last-child {
        border-bottom-left-radius: $roundness;
    }

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 0;
    }

    .tag,
    .priority,
    .due-date {
        margin: 0 0 0 $layout-unit__sm;
    }

    .cdk-drag-handle {
        cursor: move;
        margin-right: $layout-unit__xs;
        padding-left: 0 !important;
    }
}

.cdk-drag-placeholder {
    opacity: .4;
}

.cdk-drag-preview {
    @include mat-elevation(8);
    border-radius: $roundness;
    cursor: move;
    display: flex;

    &.mat-list-item {
        text-decoration: none;
        
        ::ng-deep.mat-list-item-content {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            height: inherit;
            padding: 0 $layout-unit__sm;
            position: relative;
            width: 100%;

            .mat-list-icon {
                border-radius: 50%;
                box-sizing: content-box;
                flex-shrink: 0;
                font-size: 20px;
                height: 20px;
                padding: $layout-unit__xs;
                width: 20px;
            }

            .mat-list-text {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                padding: 0 0 0 $layout-unit__sm;
                width: 100%;

                .mat-line {
                    align-items: center;
                    flex-direction: row;
                    display: flex;
                    box-sizing: border-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .title {
                        flex: 1 1 auto;
                    }

                    .mat-icon:not(.material-icons) {
                        line-height: 0;
                    }
                }
            }
        }
    }
}

.mat-sidenav {
    width: $navigation__expanded__width;
}