<button mat-button class="account-button" fxLayout="row" fxLayoutAlign="start center" [matMenuTriggerFor]="accountMenu">
    <mat-icon *ngIf="menuItems.length">arrow_drop_down</mat-icon>
    <span class="mat-body-2">{{name}}</span>
    <img alt="Profile picture" [src]="profileImageUrl" />
</button>
<mat-menu #accountMenu="matMenu" xPosition="before">
    <button *ngFor="let menuItem of menuItems" [routerLink]="menuItem.path" mat-menu-item>
        <mat-icon>{{menuItem.icon}}</mat-icon>
        <span>{{menuItem.title}}</span>
    </button>
</mat-menu>