<mat-toolbar>
    <mat-toolbar-row>
        <div class="header" *ngIf="task">
            <div class="mat-overline mat-disabled-text" *ngIf="task.dueDate">Due {{task.dueDate | date: 'longDate'}}</div>
            <div class="type" fxLayout="row" fxLayoutAlign="start center" matTooltip="Change task type" [matMenuTriggerFor]="taskTypeMenu">
                <mat-icon color="accent" class="mat-18" *ngIf="task.type.icon">{{task.type.icon}}</mat-icon>
                <mat-icon color="accent" class="mat-18" *ngIf="task.type.svgIcon" [svgIcon]="task.type.svgIcon"></mat-icon>
                <span class="mat-secondary-text mat-subheading-2">{{task.type.label}}</span>
                <mat-icon class="mat-18">arrow_drop_down</mat-icon>
            </div>
        </div>
        <span fxFlex="1 1 auto"></span>
        <button *ngIf="task" mat-icon-button [matMenuTriggerFor]="taskActionsMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['../']" matTooltip="Close detail">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<app-empty-message icon="sentiment_dissatisfied" *ngIf="!task">
    This task does not exist.
</app-empty-message>
<div class="details" *ngIf="task">
    <app-task-details-header [titleValue]="task.title" (onSave)="updateTaskTitle($event)"></app-task-details-header>
    <button mat-stroked-button color="accent" matTooltip="Update task status" [matMenuTriggerFor]="taskStatusMenu">{{task.status.label}}<mat-icon class="end">arrow_drop_down</mat-icon></button>
    <!--<h4 class="mat-body-1" contenteditable="true">{{task.description}}</h4>-->
    <quill-editor placeholder="Description"
                  [modules]="quillModules"
                  [(ngModel)]="editorCurrentData"
                  (onSelectionChanged)="editorChanged($event)"
                  (click)="editorFocused = true"
                  [class.focused]="editorFocused">
        <div quill-editor-toolbar>
            <span class="ql-formats">
                <button class="ql-bold" matTooltip="Bold"></button>
                <button class="ql-italic" matTooltip="Italic"></button>
                <button class="ql-underline" matTooltip="Underline"></button>
                <button class="ql-strike" matTooltip="Strike"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-align" value="" matTooltip="Left align"></button>
                <button class="ql-align" value="center" matTooltip="Center align"></button>
                <button class="ql-align" value="right" matTooltip="Right align"></button>
                <button class="ql-align" value="justify" matTooltip="Justify"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="ordered" matTooltip="Ordered list"></button>
                <button class="ql-list" value="bullet" matTooltip="Bullet list"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-code" matTooltip="Inline code"></button>
                <button class="ql-code-block" matTooltip="Code block"></button>
            </span>
        </div>
    </quill-editor>
</div>

<mat-menu #taskActionsMenu="matMenu">
    <button (click)="deleteTask()" mat-menu-item>Delete</button>
</mat-menu>

<mat-menu #taskStatusMenu="matMenu">
    <button *ngFor="let status of taskStatuses" (click)="updateStatus(status)" mat-menu-item>{{status.label}}</button>
</mat-menu>

<mat-menu #taskTypeMenu="matMenu">
    <button *ngFor="let type of taskTypes" (click)="updateType(type)" mat-menu-item>
        <mat-icon>{{type.icon}}</mat-icon>
        <span>{{type.label}}</span>
    </button>
</mat-menu>
